.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    .loader {
        animation: spin 2s infinite ease-in-out;
    }

    .loaderText {
        font-size: 16px;
        text-align: center;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }

    to {
        transform:rotate(360deg);
    }
}