html, body, #root, .App {
  height: 100%;
  width: 100%;
  background-color: #282c34;
}

:root {
  --primary: #1479FF;
  --light-primary: #14A5FF;

  --black: #111827;
  --gray: #6B7280;
  --light-gray: #F8F9FD;

  --danger: #FE5656;
}